# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Hackathon_2021.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\Envy\Hackaton2021\Hackathon_2021\.idea\.idea.Hackathon_2021\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
